.background-profile {
    background-color: #508C9B;
    background: linear-gradient(to top, #508C9B, #EEEEEE);
    height: 100vh;
}

.container {
    border-radius: 30px;
    min-height: 720px;
    padding: 40px;
}

.container hr {
    margin-top: 10px;
}

.container img {
    width: 200px;
    border-radius: 50%;
}

.container .head {
    margin-right: 10px;
    background-color: #508C9B;
    align-items: center;
}