<app-navbar/>
<div class="background-profile d-flex justify-content-center align-items-center">

    <div class="bg-white container overflow-hidden shadow">
        <div class="profile w-100 d-flex justify-content-center align-items-center" *ngFor="let item of user">
            <img 
                [src]="item.image"
                alt="profile" style="object-fit: cover;" />
            <div class="head">
                <h1 class="h3">{{item.name}}</h1>
                <p>{{item.email}}</p>
                <p>Age: {{item.age}}</p>
                <p>Major: {{item.major}}</p>
            </div>
            <div class="social">
                <a [href]="item.facebook" target="_blank"><i class="bi bi-facebook mx-3 mt-5"></i></a>
                <a [href]="item.tiktok" target="_blank"><i class="bi bi-tiktok mx-3 mt-5"></i></a>
                <a [href]="item.instagram" target="_blank"><i class="bi bi-instagram mx-3 mt-5"></i></a>
            </div>
            
        </div>

        <div class="about mt-2" *ngFor="let item of user">
            <form [formGroup]="profileForm" class="d-flex flex-column col-7" >
                <label for="">ชื่อ-นาทสกุล</label>
                <input type="text" class="input-form" formControlName="name" >
                <label for="">อายุ</label>
                <input type="text" class="input-form" formControlName="age" >
                <label for="">อีเมล</label>
                <input type="text" class="input-form" formControlName="email" >
                <label for="">สำนัก</label>
                <select class="input-form" formControlName="institute">
                    <option selected>Open this select menu</option>
                    <option value="Science">Science</option>
                    <option value="Social Technology">Social Technology</option>
                    <option value="Food Technology">Food Technology</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Nurses">Nurses</option>
                    <option value="Dentistry">Dentistry</option>
                    <option value="Public Health">Public Health</option>
                    <option value="Digital Arts and Science">Digital Arts and Science</option>
                  </select>
                <label for="">สาขา</label>
                <input type="text" class="input-form" formControlName="major" >
                <label for="">Facebook</label>
                <input type="text" class="input-form" formControlName="facebook" >
                <label for="">Instagram</label>
                <input type="text" class="input-form" formControlName="instagram">
                <label for="">Tiktok</label>
                <input type="text" class="input-form" formControlName="tiktok" >

                <label for="images" class="drop-container" id="dropcontainer">
                    <span class="drop-title">Drop files here</span>
                    or
                    <input type="file" id="images" class="input-form" accept="image/*" formControlName="image" [disabled]="isDisabled" (change)="onFileChange($event)" required>
                </label>

                <span class="button-group">
                    <button type="button" (click)="toggleFields()" class="button-sub" >Edit</button>
                    <button (click)="onClickUpdateUser(item._id)" class="button-sub" role="button">Save Change <i class="bi bi-save"></i></button>
                </span>
                
            </form>
        </div>
    </div>
</div>