<div class="background-profile d-flex justify-content-center align-items-center">

    <div class="bg-white container overflow-hidden shadow">
        <div class="profile border d-flex ">
            <img src="https://koreajoongangdaily.joins.com/data/photo/2023/10/09/b37d6ba6-a639-4674-8594-f8e96bc0587e.jpg" alt="profile" class="img-fluid img-thumbnail">
            <div class="head">
                <h1 class="h3">Name Example</h1>
                <p class="gmail">example&#64;gmail.com</p>
            </div>
        </div>
        <div class="about">
            <form>
                <input type="text">
            </form>
        </div>
    </div>
</div>