.d-flex{
    background: #194d7a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

.nav-link:nth-child(1){
    margin-top: 5px;
}
.nav-link {
    color: #f8f9fa !important;
    padding: 8px 10px;
    margin-bottom: 6px;
}
.nav-link:hover {
    border-radius: 10px;
    transition: 0.5s;
    background-color: #ffffff95;
    color: #072540 !important;
}

.bi{

    margin: 10px;
}

.active {
    border-radius: 10px;
    color: #072540 !important;
    background-color: #ffffffa3 !important; /* สีพื้นหลังที่ต้องการ */
    transition: 0.5s;
}

/* .nav-link {
    font-size: 1rem;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #79ACEE;
    transition: 0.5s;
} */
