<div class="container-fluid" style="background: #f4f9fb;">
    <div *ngIf="showAlert" class="alert alert-success text-center fixed-alert" role="alert">
        {{ alertMessage }}
    </div>
    <div class="row">
        <div class="col-sm-12 my-3">
            <div class="main-content">
                <h2>แก้ไขข้อมูลกิจกรรม</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card h-100" style="border-radius: 10px;">
                            <div class="card-body">
                                <h4 class="mb-3">ตัวอย่างรูปภาพกิจกรรม</h4>
                                <div class="image-container" style="position: relative; width: 100%; height: auto;">
                                    <img [src]="currentImage" [style.opacity]="imageOpacity" alt="Event image"
                                        style="width: 100%; border-radius: 10px; position: absolute; top: 0; left: 0; transition: opacity 1s;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                            <div class="card h-100" style="border-radius: 10px">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="name">ชื่อกิจกรรม</label>
                                        <input id="name" class="form-control" formControlName="name" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="location">สถานที่</label>
                                        <input id="location" class="form-control" formControlName="location" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="date_time">วัน/เวลา</label>
                                        <input id="date_time" type="datetime-local" class="form-control"
                                            formControlName="date_time" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="description">รายละเอียดกิจกรรม</label>
                                        <textarea id="description" class="form-control" formControlName="description"
                                            rows="2" required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="image">รูปภาพกิจกรรม</label>
                                        <input type="file" class="form-control mean-file"
                                            (change)="onFileChange($event)" />
                                    </div>

                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="eventForm.invalid">บันทึกข้อมูล</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>