.btn-mean {
    background-color: #194d7a;
    color: white;
}

.btn-mean:hover {
    background-color: #123f66 !important;
}

.card {
    display: flex;
    flex-wrap: wrap;
    animation: floatUp 0.8s ease-out;
}

.Part-reply-comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.Part-reply-comment-input {
    margin-right: 10px;
    width: 85%;
    height: 100%;
}

.reply-input {
    width: 100%;
    height: 38px;
    border-radius: 10px;
    padding: 10px;
}

.Part-reply-comment-button {
    width: 15%;
}

.reply-button {
    width: 100%;
}

@media (max-width: 1000px) {
    .Part-reply-comment{
        flex-direction: column;
    }
    .Part-reply-comment-input{
        width: 100%;
        margin-bottom: 8px;
    }
    .Part-reply-comment-button{
        width: 100%;
    }
}


@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}