<div class="container-fluid" style="background: #f4f9fb;">
    <div class="row">
        <div class="col-sm-12 my-3">
            <div class="main-content" id="main-content">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 style="color: #082540; margin-left: 20px;">หาเพื่อน</h2>
                    <div class="d-flex">
                        <input 
                        type="text" 
                        class="form-control search-bar me-2" 
                        style="color: #082540; border: 1px solid #082540;" 
                        placeholder="ค้นหาเพื่อนของคุณ" 
                        [(ngModel)]="search" 
                        (ngModelChange)="onSearchFriend()"
                    >
                    <a class="btn"
                        href="/friendRequest"
                        style="width: 200px; border-radius: 10px; color: #082540; border: none;">คำขอเป็นเพื่อน</a>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <app-sidebar (filterInstitute)="onFilterInstitute($event)"></app-sidebar>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="friends-container">
                        <div class="friend-wrapper" *ngFor="let item of filteredFriends">
                            <div class="friend-card">
                                <img [src]="item.image" alt="Friend image" class="mb-3">
                                <div class="card-body">
                                    <h5 style="color: #082540;">{{item.name}}</h5>
                                    <p class="text-muted">{{item.faculty}}</p>
                                </div>
                                
                                <button class="btn btn-secondary btn-sm w-100" 
                                    style="border: none;"
                                    [ngStyle]="{
                                        'background-color': item.status === 'accepted' ? '#79ACEE' : '#C3E8EB',
                                        'color': item.status === 'accepted' ? '#FFF' : '#194d7a'
                                    }"
                                    (click)="openFriendModal(item)">
                                    {{ isPendingRequest(item) ? 'รอดำเนินการ' : 'เพิ่มเติม' }}
                                </button>    
                            </div>
                        </div>
                    </div>
                    
                    <!-- Modal for displaying friend details -->
                    <div *ngIf="selectedFriend" class="modal" tabindex="-1" role="dialog" aria-labelledby="friendModalLabel" aria-hidden="true">
                        <div class="modal-bg " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="profile_img">
                                        <img [src]="selectedFriend.image" alt="Friend image" class="img-fluid mb-3">
                                    </div>
                                    <h5 class="modal-title" id="friendModalLabel">{{ selectedFriend.name }}<br><span>{{ selectedFriend.faculty }}</span></h5>
                                    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="imgBx">
                                                <img [src]="selectedFriend.image" alt="Friend image" class="img-fluid mb-3">
                                            </div>
                                            <div class="actionBtns">
                                                <div class="left">
                                                    <i class="bi bi-heart-fill" style="color: rgb(255, 102, 133);"></i>
                                                    <i class="bi bi-chat"></i>
                                                    <i class="bi bi-send"></i>
                                                </div>
                                                <div class="right">
                                                    <i class="bi bi-bookmark"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p><strong>ชื่อ:</strong> {{ selectedFriend.name }}</p>
                                            <p><strong>ชื่อเล่น:</strong> {{ selectedFriend.faculty }}</p>
                                            <p><strong>อายุ:</strong> {{ selectedFriend.faculty }}</p>
                                            <p><strong>สำนัก:</strong> {{ selectedFriend.faculty }}</p>
                                            <p><strong>สาขา:</strong> {{ selectedFriend.faculty }}</p>
                                            <p><strong>สิ่งที่ชอบ:</strong> {{ selectedFriend.faculty }}</p>

                                            <div class="contact">
                                                <a target="_blank" href="https://www.facebook.com/" class="nav-link">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                                <a target="_blank" href="https://www.instagram.com/" class="nav-link">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                                <a target="_blank" href="https://www.tiktok.com/" class="nav-link">
                                                    <i class="bi bi-tiktok"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- <p><strong>Status:</strong> {{ selectedFriend.status === 'pending' ? 'รอดำเนินการ' : 'Accepted' }}</p> -->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" 
                                    style="border: none;"
                                    [ngStyle]="{
                                        'background-color': selectedFriend.status === 'accepted' ? '#82CEDE' : '#C3E8EB',
                                        'color': selectedFriend.status === 'accepted' ? '#FFF' : '#194d7a'
                                    }"
                                    (click)="openFriendModal(selectedFriend)">
                                    {{ isPendingRequest(selectedFriend) ? 'รอดำเนินการ' : 'เพิ่มเพื่อน' }}
                                </button> 
                                    <button type="button" class="btn btn-secondary" style="background-color: #F6F4F0; border: none; color: #7a7777;" (click)="closeModal()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>                                  
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

