<div class="container-fluid" style="background: #f7f4fb;">
    <div class="row">
        <div class="col-md-3 my-3">
            <div class="sidebar">
                <div class="profile-card">
                    <div class="row my-2">
                        <div class="col-6">
                            <img src="https://i.pinimg.com/736x/d3/ca/78/d3ca78abd9c8a8633098984b09131cd0.jpg" alt="Profile" class="mb-3">
                        </div>
                        <div class="col-6 my-3">
                            <h5 style="color: #082540;">สมใจ ยิ่งแย่ม</h5>
                            <p class="text-muted">สำนัก</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6" style="border-right: 2px solid #f0f0fc;">
                            <p class="mb-0 h5" style="color: #082540;">50</p>
                            <small class="text-muted">Friends</small>
                        </div>
                        <div class="col-6">
                            <p class="mb-0 h5" style="color: #082540;">50</p>
                            <small class="text-muted">Post</small>
                        </div>
                    </div>
                </div>
                <hr class="my-4" style="border: 2px solid #f5f5ff;">
                <app-sidebar (filterInstitute)="onFilterInstitute($event)"></app-sidebar>
            </div>
        </div>
        <div class="col-md-9 my-3">
            <div class="main-content">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 style="color: #082540; margin-left: 20px;">เพื่อนของฉัน</h3>
                    <div class="d-flex">
                        <input 
                        type="text" 
                        class="form-control search-bar me-2" 
                        style="color: #082540; border: 1px solid #082540;" 
                        placeholder="ค้นหาเพื่อนของคุณ" 
                        [(ngModel)]="search" 
                        (ngModelChange)="onSearchFriend()"
                    >
                    <a class="btn"
                        href="/friendRequest"
                        style="width: 200px; border-radius: 10px; color: #082540; border: none;">คำขอเป็นเพื่อน</a>
                    </div>
                </div>
                <div class="friends-container">
                    <div class="friend-wrapper" *ngFor="let item of filteredFriends">
                        <div class="friend-card">
                            <img [src]="item.image" alt="Friend image" class="mb-3">
                            <div class="card-body">
                                <h5 style="color: #082540;">{{item.name}}</h5>
                                <p class="text-muted">{{item.faculty}}</p>
                            </div>
                            <button class="btn btn-secondary btn-sm w-100" 
                                    style="background: #79ACEE; border: none;">
                                ลบเพื่อน
                            </button>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>