.sidebar {
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(132, 139, 200, 0.18);
}

.profile-card {
    text-align: center;
}
.profile-card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.h5, h5 {
    overflow-y: auto;
    font-size: 1.25rem;

}
.text-muted {
    overflow-y: auto;
    color: #6c757d !important;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(132, 139, 200, 0.18);

}
.friend-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    padding: 15px;
    margin-bottom: 20px;
    margin-top: -20px;
    transition: .3s;
    animation: floatUp 0.8s ease-out;
}

@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.friend-card:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    transform: translateY(-8px);
}

.main-btn:hover{
    background: #C3E8EB !important;
    color: #082540;
    transform: scale(1.03);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    transition: .5s;
}


.friend-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.search-bar {
    border-radius: 20px;
}
.btn-friend-request {
    border-radius: 20px;
    background-color: #f8f9fa;
    color: #333;
}
.friends-container {
    display: flex;
    flex-wrap: wrap;
}
.friend-wrapper {
    width: 24.99%;
    padding: 10px;
}

.text-muted {
    font-size: .8rem;
    color: #6c757d !important;
}

.fixed-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Higher than Bootstrap's default z-index */
    /* max-width: 300px; */
    /* width: 100%; */
    opacity: 0;
    animation: slideDownFadeInOut 2s ease forwards;
}


@keyframes slideDownFadeInOut {
    0% {
        top: -50px;
        opacity: 0;
    }
    50% {
        top: 20px;
        opacity: 1;
    }
    80% {
        top: 20px;
        opacity: 1;
    }
    100% {
        top: -50px;
        opacity: 0;
    }
}