.gradient-custom {
    background-color: #508C9B;
    background: linear-gradient(to top, #508C9B, #EEEEEE);
}

.border-container {
    border-radius: 30px;
    overflow: hidden;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    letter-spacing: 0.5px;
}

button.hidden {
    background-color: transparent;
    border-color: #fff;
    border: 0;
}

form {
    padding: 0 40px;
}

input {
    border: none;
    outline: none;
    width: 100%;
}