<section>
    <div>
        <div>
            <form>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="checkbox" name="" id="">
                <p>จำชื่อผู้ใช้</p>
                <button type="submit"></button>
            </form>
        </div>
        <div>
            <form>
                <input type="text" placeholder="FirstName">
                <input type="text" placeholder="LastName">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Your phone">
                <input type="password" name="" id="">
                <button type="submit"></button>
            </form>
        </div>
        <div>
            <h1>หาเพื่อน มทส.</h1>
            <p>เป็นระบบที่ช่วยให้นักศึกษา มทส. ค้นหาเพื่อนใหม่และเข้าร่วม
                กิจกรรมที่ตรงกับความสนใจ ผู้ใช้งานสามารถลงข้อมูลส่วนตัว
                เพื่อหาเพื่อนที่มีความสนใจคล้ายกัน หรือเลือกค้นหากิจกรรม
                เพื่อเข้าร่วม ระบบนี้ถูกออกแบบมาเพื่อเสริมสร้างความสัมพันธ์
                และการมีส่วนร่วมในชุมชนนักศึกษาอย่างมีประสิทธิภาพ
            </p>
            <div><img src="" alt=""></div>
        </div>
    </div>
</section>
