<div class="container-fluid" style="background: #f4f9fb;">
    <div class="row">
        <div class="col-sm-12 my-3">
            <div class="main-content">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 style="margin-bottom: 0;">กิจกรรมตกปลา (ตัวอย่าง)</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6" style="background-color: black;">
                        <div class="card">
                            <div class="card" *ngFor="let item of event"
                                style="margin: 16px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                <img class="card-img-top" [src]="item.image" alt="Event image"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="background-color: red;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>