<div class="container-fluid" style="background: #f4f9fb;">
<div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://elearning2.sut.ac.th/pluginfile.php/1/theme_suranaree/night_mainbgimg/1722512027/night_bg_sut_lg.jpg" class="d-block w-100" alt="...">
        <div class="content">
            <h1 style="font-size: 5rem; margin-bottom: 20px;">หาเพื่อน มทส.</h1>
            <p style="font-size: 1.3rem;">ระบบที่ช่วยให้นักศึกษา มทส. ค้นหาเพื่อนใหม่และเข้าร่วม
            กิจกรรมที่ตรงกับความสนใจ ผู้ใช้งานสามารถลงข้อมูลส่วนตัว
            เพื่อหาเพื่อนที่มีความสนใจคล้ายกัน หรือเลือกค้นหากิจกรรม
            เพื่อเข้าร่วม ระบบนี้ถูกออกแบบมาเพื่อเสริมสร้างความสัมพันธ์
            และการมีส่วนร่วมในชุมชนนักศึกษาอย่างมีประสิทธิภาพ</p>
        </div>
        </div>
        <div class="carousel-item">
        <img src="https://elearning2.sut.ac.th/pluginfile.php/1/theme_suranaree/mainbgimg/1722512027/E_learing%20art_completed.jpg" class="d-block w-100" alt="...">
        <div class="content">
            <h1 style="font-size: 5rem; margin-bottom: 20px;">หาเพื่อน มทส.</h1>
            <p style="font-size: 1.3rem;">ระบบที่ช่วยให้นักศึกษา มทส. ค้นหาเพื่อนใหม่และเข้าร่วม
            กิจกรรมที่ตรงกับความสนใจ ผู้ใช้งานสามารถลงข้อมูลส่วนตัว
            เพื่อหาเพื่อนที่มีความสนใจคล้ายกัน หรือเลือกค้นหากิจกรรม
            เพื่อเข้าร่วม ระบบนี้ถูกออกแบบมาเพื่อเสริมสร้างความสัมพันธ์
            และการมีส่วนร่วมในชุมชนนักศึกษาอย่างมีประสิทธิภาพ</p>
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
    </div>
</div>