.card-deck {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    animation: floatUp 0.8s ease-out;
}

@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    flex: 0 1 calc(33.3333% - 30px);
    margin-bottom: 20px;
}

.card-title {
    margin-bottom: 6px;
}

.card-text {
    margin-bottom: 6px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(132, 139, 200, 0.18);
}

.btn-mean {
    background-color: #194d7a;
    color: white;
}

.btn-mean:hover {
    background-color: #123f66 !important;
}