<div class="col-sm-12 my-3" style="padding: 0px;">
  <div class="card"
    style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 10px; display: flex; flex-direction: column;">
    <div style="display: flex; margin-bottom: 0.5rem; ">
      <div 
      class="rounded-circle" 
      style="height: 40px; width: 40px;">
    <img [src]="user.image" alt=""></div>
      <div style="display: flex; margin-left: 10px; align-items: center; justify-content: center;  text-align: center;">
        {{user.name}} 
      </div>
    </div>
    <div class="card" style="padding: 10px;">{{comment}}</div>
  </div>
</div>